@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{ 
    --body-color: #339552;
    --nav-color: #c1cec200;
    --side-nav: #2d841500;
    --text-color: #FFF;
    --search-bar: #F2F2F2;
    --search-text: #010718;
    --padding-container: 100px 0;
    --color-title: #ffffff;
}

body{
   height: 100vh; 
   background-color: var(--body-color);
}

body.dark{
    --body-color: #1f387b;
    --nav-color: #16244a;
    --side-nav: #144f76ef;
    --text-color: #ccc;
    --search-text: #2184c5e2;
}


/* navigation bar*/
nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}

nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color:var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen{
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a{
   font-size: 25px;
   font-weight: 500;
   color: var(--text-color);
   text-decoration: none;
}

.menu .logo-toggle{
    display: none;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
}

.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}


.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(50%);    
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease; 
}

.nav-links li:hover a::before{
    opacity: 1;
}

.nav-bar .darkLight-searchBox{
    display: flex;
    align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchBox{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.dark-light i,
.searchBox i{
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
} 

/* Inicialmente el sol es visible y la luna oculta */
.dark-light i.sun {
    opacity: 0;
    pointer-events: auto;
}

.dark-light i.moon {
    opacity: 1;
    pointer-events: none;
}

/* Cuando .dark-light está activa, invertimos la visibilidad */
.dark-light.active i.sun {
    opacity: 1;
    pointer-events: none;
}

.dark-light.active i.moon {
    opacity: 0;
    pointer-events: auto;
}

@media (max-width: 790px) {
    nav .nav-bar .sidebarOpen{
        display: block;
    }

    .menu{
        position: fixed;
        height: 100%;
        width: 320px ;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu{
        left: -0%;
    }

    nav.activate .nav-bar .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle{
        display: block ;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .siderbarClose{
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links{
        flex-direction: column;
        padding-top: 30px ;
    }
    
    .nav-links li a{
        display: block;
        margin-top: 20px;
    }
}


/* primera sección*/

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #FFF;
}

.hero__img {
    margin-top: -100px; /* Adjust pixel value for desired positioning */
}

.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url("../imagenes/fondomaps.jpg");
    background-size: cover;
    clip-path: polygon(100% 0, 100% 88%, 53% 100%, 0 88%, 0 0);

    z-index: -1;
}

.hero__container{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding-top: 280px;
}

.hero__title {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero__paragraph {
    margin-bottom: 20px;
}

/* Knowledge */

.knowledge {
    background-position: 0 0, 10px 10px;
    overflow: hidden;
}

.knowledge__container {
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.grid-container h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    background-color: #19723ee8;
    color: #d4d3d3;
    border-radius: 3px;
    font-size: 15px;
    margin: 5px 0;
    cursor: pointer;
    text-align: center;
    position: relative;
}

.grid-container h4::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 120%; /* Ajusta la posición vertical del tooltip */
    left: 50%;
    transform: translateX(-50%);
    background-color: #fffffff7;
    color: #306b2de8;
    padding: 5px;
    border-radius: 3px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    font-size: 12px;
}

.grid-container h4:hover::after {
    opacity: 1;
}
.knowledge .subtitle{
    color: #ffffff;
    font-size: 40px; /* Reducir tamaño si es necesario */
    text-transform: uppercase;
    margin-bottom: 10px; /* Reducir margen si es necesario */
    align-items: center;
    text-align: center;
}

@media (max-width:800px){
    .hero__title{
        font-size: 2.5rem;
    }


    .about__main{
        gap: 2em;
    }

    .about__icons:last-of-type{
        grid-column: 1/-1;
    }

    .person_container{
        grid-template-columns: 30px 1fr 30px;
    }

    .person_body{
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
        justify-items:center ;
    }

    .person_img{
        width: 200px;
        height: 200px;
        
    }

    .questions__copy{
        width: 100%;
    }

    .footer__container{
        flex-wrap: wrap;
    }

    .nav--footer{
        width: 100%;
        justify-items: center;
    }

    .nav__link--footer{
        width: 100%;
        justify-content: space-evenly;
        margin: 0;
    }

    .footer__form{
        width: 100%;
        justify-content: space-evenly;
    }

    .footer__input{
        flex: 1;
    }

}


@media (max-width:600px){
    .hero__title{
        font-size: 2rem;
    }

    .hero__paragraph{
        font-size: 1rem;
    }

    .subtitle{
        font-size: 1.8rem;
    }

    .person{
        --padding-container: 60px 0;
    }

    .person_container{
        grid-template-columns: 28px 1fr 28px;
        gap: .9em;
    }

    .person_arrow{
        width: 100%;
    }

    .person_course{
        margin-top: 15px;
    }

    .questions__title{
        font-size: 1rem;
    }

    .footer__title{
        justify-self: start;
        margin-bottom: 15px;
    }

    .nav--footer{
        padding-bottom: 60px;
    }

    .nav__link--footer{
        justify-content: space-between;
    }

    .footer__inputs{
        flex-wrap: wrap;
    }

    .footer__input{
        flex-basis: 100%;
        margin: 0;
        margin-bottom: 16px;
    }

    .footer__submit{
        margin-right: auto;
        margin-left: 0;
        

        /* 
        margin:0;
        width: 100%;
        */
    }
}